/proj.unity/Library
/proj.unity/Logs
/proj.unity/ProjectSettings
/proj.unity/Temp
/proj.unity/UserSettings
/proj.unity/Assembly-CSharp.csproj
/proj.unity/proj.unity.sln
/proj.unity/.idea
/proj.unity/Light2D_Editor.csproj
/proj.unity/*.csproj
/proj.unity/obj
